.form-container {
    width: 400px;
    float: left;
    margin-left: 20px;
}

.upload-your-image {
    background-color: #ffffff;
    padding: 10px;
    border-radius: 10px;
    font-family: Calibri;
    cursor: pointer;
    margin-top: 10px;
    color: black
}

.image-upload {
    float: left;
}


.new-form-btn {
    padding-top: 20px;
}
.new-form-btn button{
    padding: 10px 20px;
    text-align: center;
}