body {
    background-color: darkslategrey;
    padding-top: 5%;
}

.container {
    width: 600px;
    height: 350px;
    padding: 10px;
    margin: auto;
    border: 1px solid #ffffff;
    cursor: pointer;
    margin-bottom: 10px;
}

.image {
    width: 600px !important;
    height: 350px;
}

.comment-content {
    width: 600px;
    padding: 10px;
    margin: auto;
    cursor: pointer;
    color: white;
    font-size: 15px;
    margin-bottom: 10px;
}

.sender {
    font-style: italic;
}

.time {
    font-size: 13px;
    margin-bottom: 10px;
}

.comment {
    font-size: 17px;
    line-height: 18px;
    font-family: Calibri;
    font-style: italic;
}

.add-comment {
    font-size: 14px;
    margin-bottom: 10px;
}

.form {
    margin-top: 20px;
}

input {
    height: 30px;
}

textarea {
    min-height: 90px;
}

textarea, input {
    width: 100%;
    margin: 4px;
    border: none;
    border-radius: 10px;
    padding: 2px 8px;
}

.image {
    float: left;
    width: 30%;
}


.dp {
    float: left;
}

.dp img {
    width: 90px;
    border-radius: 50%;
}

.user-comment {
    width: 400px;
    float: left;
    margin-left: 20px;
    margin-top: 10px;
}

.user-comment-container {
    width: 100%;
    border: 1px #ffffff solid;
    margin: 10px 0;
    padding: 5px;
}


.btn-group button {
    border: 0;
    border-radius: 5px;
    margin-top: 15px;
    font-weight: bold;
    color: white;
    padding: 10px;
    cursor: pointer;
}
.edit-btn {
    background-color: darkslategrey;
    border: 2px #ffffff solid;
}
.delete-btn {
    background-color: darkred;
}

.page-title {
    color: #ffffff;
    text-align: center;
}
.backto-news {
    margin: auto;
    font-family: Calibri;
    display: block;
    color: #ffffff;
    font-size: 12px;
    width: 600px;
    cursor: pointer;
}

#edit-comment, #edit-your-comment {
    display: none;
}


button {
    background: white;
    color: black;
    border: 0;
    border-radius: 5%;
    cursor: pointer;
    margin:0 5px;
}

.add-comment {
    color: white;
    font-family: Calibri;
}

#response {
    color: #ffffff;
    font-size: 18px;
    text-align: center;
    font-weight: bolder;
    padding: 20px;
    font-family: Calibri;
}