body {
    background-color: darkslategrey;
    padding-top: 5%;
}

.container {
    width: 60%;
    padding: 10px;
    margin: auto;
    border: 1px solid #ffffff;
    cursor: pointer;
    margin-bottom: 10px;
}

.image {
    float: left;
    min-width: 40px;
}

.title {
    max-width: 400px;
}

.description {
    float: left;
    margin-left: 5%;
    margin-top: 1%;
    font-size: 18px;
    color: #ffffff;
    font-family: Calibri;

}

.description div {
    min-height: 30px;
}

.description div span:first-child {
    width: 50px;
    display: inline-block;
    font-size: 15px;
    font-style: italic;
}

image {
    height: auto;
    width: auto;
    border-radius: 50%;
    border: 2px solid #ffffff;
}

.btn-group {
    width: 140px;
    padding: 10px;
    margin: auto;
    cursor: pointer;
}

button {
    background: white;
    color: black;
    border: 0;
    border-radius: 5%;
    cursor: pointer;
    margin:0 5px;
}

.date {
    font-size: 15px;
    font-style: italic;
}


.form {
    margin-top: 20px;
    width: 60%;
    margin: auto;
}

input {
    height: 30px;
}

textarea {
    min-height: 90px;
}

input {
    width: 100%;
    margin: 4px;
    border: none;
    border-radius: 10px;
    padding: 2px 8px;
}


#edit-news, #edit {
    display: none;
}


#response {
    color: #ffffff;
    font-size: 18px;
    text-align: center;
    font-weight: bolder;
    padding: 20px;
    font-family: Calibri;
}

.add-news {
    color: white;
    font-family: Calibri;
}